<a href="https://colab.research.google.com/github/mohamedabdelaty74/amit/blob/main/01_SF_Salaries_Exercise_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [12]:
import pandas as pd
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [13]:
sal=pd.read_csv("/content/Salaries.csv")

<ipython-input-13-b5581cfa62b5>:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal=pd.read_csv("/content/Salaries.csv")

** Check the head of the DataFrame. **

In [14]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [15]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB



```
```

**What is the average BasePay ?**

In [87]:
sal["BasePay"]=pd.to_numeric(sal["BasePay"],errors= "coerce")
sal["BasePay"].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [25]:
sal['OvertimePay']=pd.to_numeric(sal['OvertimePay'], errors='coerce')
sal["OvertimePay"].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [33]:
job_title = sal.loc[sal['EmployeeName'].str.contains('JOSEPH DRISCOLL', case=False), 'JobTitle'].values[0]
print(job_title)

CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [35]:
totben=sal.loc[sal["EmployeeName"].str.contains("JOSEPH DRISCOLL" , case=False ),"TotalPayBenefits"].values[0]
print(totben)

270324.91

** What is the name of highest paid person (including benefits)?**

In [40]:
highestperson=sal.loc[sal["TotalPayBenefits"].idxmax(), "EmployeeName"]
print(highestperson)

NATHANIEL FORD

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [45]:
lowestperson=sal.loc[sal["TotalPayBenefits"].idxmin(), "EmployeeName"]
print(lowestperson)

Joe Lopez

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [53]:
avgmean = (sal["Year"] >= 2011) & (sal["Year"] <= 2014)
avgmean = sal.loc[avgmean, "BasePay"].mean()
avgmean

66325.4488404877

** How many unique job titles are there? **

In [54]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(5), int64(2), object(6)
memory usage: 14.7+ MB

** What are the top 5 most common jobs? **

In [61]:
comjobs=sal["JobTitle"].value_counts().head(5)
print(comjobs)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [72]:
unique_job_titles_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()
unique_job_titles_2013[unique_job_titles_2013 == 1]
unique_job_titles_2013[unique_job_titles_2013 == 1].count()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [76]:
chiefs = sal["JobTitle"].str.contains("Chief", case=False).sum()
print(chiefs)

627

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [84]:
joblen=sal["JobTitle"].str.len()
cor=joblen.corr(sal["TotalPayBenefits"])
print(cor)

-0.036878445932606675

# Great Job!