<a href="https://colab.research.google.com/github/mohamedabdelaty74/amit/blob/main/assi2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

use for, .split(), and if to create a Statement that will print out words that start with 's':

st = 'Print only the words that start with s in this sentence"**

In [2]:
st = 'Print only the words that start with s in this sentence'
for i in st.split():
    if i.startswith('s'):
        print(i)

start
s
sentence

In [10]:
st = 'Print only the words that start with s in this sentence'
for i in st.split():
    if i[0] == 's':
        print(i)

start
s
sentence

**EVEN NUMBERS**

In [13]:
for i in range(0,11):
  if i%2==0:
    print(i)

0
2
4
6
8
10



---


Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

In [15]:
for i in range (1,51):
  if i%3==0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48



---


Go through the string below and if the length of a word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'

In [22]:
st = 'Print every word in this sentence that has an even number of letters'

for i in st.split() :
  if len(i)%2==0:
    print(i)

word
in
this
sentence
that
an
even
number
of



---


Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [26]:
for i in range(1, 101):
  if i % 3 == 0:
    print("fizz")
  elif i%5==0 :
    print("buzz")
  else :
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz



---


Use List Comprehension to create a list of the first
letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'

In [37]:
st = 'Create a list of the first letters of every word in this string'
for i in st.split():
  print (i[0])

C
a
l
o
t
f
l
o
e
w
i
t
s

In [40]:
x=[i[0]for i in st.split()]

In [41]:
x

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']