<a href="https://colab.research.google.com/github/mohamedabdelaty74/amit/blob/main/assi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

In [2]:
s = 'hello'
# Reverse the string using slicing
print(s[::-1])

olleh

In [3]:
s = 'hello'
print(s[4])

o

In [4]:
s = 'hello'
print(s[-1])

o

In [6]:
x=[0,0,0]

In [11]:
y = []
for i in range(3):
    y.append(0)
print(y)

[0, 0, 0]

In [15]:
list3 = [1, 2, [3, 4, 'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [16]:
list4 = [5, 3, 4, 6, 1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

**GRAP HELLO**

In [17]:
d = {'simple_key':'hello'}
print(d['simple_key'])

hello

In [18]:
d = {'k1':{'k2':'hello'}}
print(d['k1']['k2'])

hello

In [25]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
print(d['k1'][0]['nest_key'][1])

['hello']

In [26]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [27]:
planet="earth"
diameter=12742
print("the diameter of {} is {} kilometers".format(planet,diameter))

the diameter of earth is 12742 kilometers

**Given this nested list, use indexing to grab the word "hello"**

In [29]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2])

['hello']

**GRAP HELLO**

In [30]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello