<a href="https://colab.research.google.com/github/mohamedabdelaty74/amit/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3

\### Write a function to count the number 4 in a given list.

In [1]:
def count_four(nums):
  return nums.count(4)

### write a  function to check whether a number is divisible by another number.

In [3]:
def is_divisible(n, k):
  return n % k == 0
is_divisible(10,5)

True

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [6]:
def max_min(i):
  return max(i), min(i)

max_min([2,5,4,77])

(77, 2)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [14]:
def common(x,y):
  return bool(set(x)&set(y))
x=[5,4,7,8]
y=[4,8,9,6]
common(x,y)

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [21]:

def factorial(x):
        if x == 0:
            return 1
        return x * factorial(x-1)

x = int(input("please enter a number: "))
print("the factorial of", x, "is", factorial(x))

please enter a number: 5
the factorial of 5 is 120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [24]:
def in_range(x):
  if x in range(3,12):
    return True
  return False
in_range(2)

False

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [33]:
def mult(num):
  for i in range(1, 11):
    print(num, "x", i, "=", num * i)

num = int(input("Enter a number: "))

mult(num)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [37]:
def lesser_of_two_evens(a, b):
  if a % 2 == 0 and b % 2 == 0:
    return min(a, b)
  else:
    return max(a, b)
lesser_of_two_evens(2,4)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [47]:
def animal_crackers(string):
  first_letter = string.split()[0][0]
  second_letter = string.split()[1][0]
  return first_letter == second_letter
animal_crackers("cat barar")

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [53]:
def makes_20(x,y):
  return x + y == 20 or x == 20 or y == 20
makes_20(12,8)

True

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [57]:
def almost_there(n):
  return ( n-100  <=10  or n-200   <=10)
almost_there(90)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [80]:
def blackjack(a, b, c):
  total = a + b + c
  if total <= 21:
    return total
  elif total > 21 and 11 in (a, b, c):
    return total - 10
    if total > 21:
      return 'BUST'
    else:
      pass
  else:
    return 'BUST'

blackjack(11,6,5)

12